.main{
    width: 100%;
    height:50px;
    background-color: rgb(211, 122, 137);
    display: flex;
    justify-content: right;
    position: relative;
}
.sub{
    width: 30%;
    height: 50px;
    /* border:1px solid blue; */
    display:flex;
    justify-content: space-evenly; 
    position:absolute;
    top:10px;

}