
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@200;300&display=swap');
div{
    height: 125px;
    background-color: white;
    width: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    margin-left: 320px;
    padding: 10px;
    
}
.foot{
    margin-top:325px;
}
a{
    /* padding-left:30px; */
}
#home{
    padding-right: 10px;
    padding-left:10px ;
}
h1{
    font-family: 'Lobster', cursive;
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
    
}